nav{
    margin-left: 43pc;
}
legend{
    color: rgb(198, 16, 16);
    text-align: center;
}
fieldset{
    border: 3px solid red;
    padding-top: 80px;
    text-align: center;
    background-color: rgb(209, 138, 52);
    text-align: center;
    margin-left: 35pc;
    height: 30pc;
    width: 25pc;
    box-sizing: border-box;
}
h1{
    text-align: center;
}
p{
    text-align: center;
}
label{
    color: red;
}